$c-font-default: $c-font3;

/*
* new btn style
*/
%btn-common {
    font-weight: normal;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid transparent;
    vertical-align: middle;
    transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: border-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;

    > * {
        display: inline-block;
        vertical-align: middle;
        font-size: inherit;
        color: inherit;
    }

    &:focus {
        outline: none;
    }

    &[data-state=active] {
        transition: fill 0.4s ease, stroke .4s ease;

        path {
            fill: $c-point;
            stroke: darken($c-point, 5%);
            stroke-opacity: 1;
        }
    }
}

@mixin btn-sizing {
    // default
    @extend %btn-common;

    font-size: 12px;
    padding: 0 16px;
    line-height: 30px;

    @content;

    // modifiers
    &--mini {
        @extend %btn-common;

        font-size: 10px;
        padding: 0 8px;
        line-height: 20px;

        @content;
    }

    &--small {
        @extend %btn-common;

        font-size: 10px;
        padding: 0 12px;
        line-height: 22px;

        @content;
    }

    &--large {
        @extend %btn-common;

        font-size: 16px;
        padding: 0 24px;
        line-height: 46px;

        @content;
    }
}

// color-theme
.btn {
    @extend %btn-common;

    &-white {
        @include btn-sizing {
            border-color: #d9d9d9;
            background: #fff;
            color: $c-font3;

            @include desktop {
                &:hover{
                    outline: none;
                    background: #f5f5f5;
                    border-color: #d9d9d9;
                }

                &:focus {
                    border-color: $c-font9;
                }
            }
        };
    }

    &-red {
        @include btn-sizing {
            border-color: transparent;
            background: $c-point;
            color: #fff;

            @include desktop {
                &:hover{
                    background: $c-point-active;
                }

                &:focus {
                    border-color: #c4251c;
                }
            }
        };
    }

    &-redline {
        @include btn-sizing {
            border-color: $c-point;
            background: #fff;
            color: $c-point;

            @include desktop {
                &:hover{
                    outline: none;
                    background: #fcefee;
                }

                &:focus {
                    border-color: #c4251c;
                }
            }
        };
    }
}

/**
 * 버튼 css
 *
 * .btn(기본) .btn-color(색상, 종류) .btn-size(크기)
 * .btn .btn-point .btn-m
 * .btn .btn-sub .btn-w
 * .btn .btn-sub .btn-w .is-disabled
 */

.btn {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 2px;

    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    line-height: 1.4;

    &:focus {
        outline: none;
    }
}

// btn size
 .btn-xs {
     padding: 4px 8px 3px;
     font-size: 11px;
 }

.btn-s {
    padding: 6px 12px;
    font-size: 12px;
}

.btn-m {
    height: 32px;
    padding: 15px 0;
    padding: 8px 15px;
    font-size: 12px;
    line-height: 14px;
}

.btn-l {
    height: 48px;
    line-height: 45px;
    padding: 0 24px;
    font-size: 16px;
}

.btn-w {
    width: 100%;
}

.btn.center {
    display: block;
    margin: 0 auto;
}

.btn.w246 {
    margin-top: 64px;
    width: 246px;
}

.btn-reset {
    border: 0 !important;
    background: transparent !important;
}

// btn style, color
input[type=submit]:disabled,
input[type=button]:disabled,
button:disabled,
.btn-disabled {
    background: #eee !important;
    color: #aaa !important;
    border: 1px solid #ddd !important;
    cursor: default !important;

    &:hover,
    &:focus {
        background: #eee !important;
        color: #aaa !important;
        border: 1px solid #ddd !important;
        outline: 0 !important;
    }
}

.btn-white {
    color: $c-font-default;
    border: 1px solid #ccc;
    background: #fff;

    &.point-txt {
        color: $c-point;
    }
}

.btn-point,
.btn.active {
    color: #fff;
    background: #E95753;
    border: 1px solid #e95753;

    &:hover {
        background: #c8352e;

        @include mobile {
            background: #E95753;
        }
    }
    &:focus {
        background: #dd5850;
        border: 1px solid #993936;
        outline: 0;

        @include mobile {
            background: #E95753;
            border: 1px solid #e95753;
        }
    }
}

.btn.active {
    border: 1px solid #e95753 !important;
    color: #fff !important;
}

.btn-sub {
    background: #5abe54;
    border: 1px solid #5abe54;

    &:hover,
    &:focus {
        background: #71d46b;
        border: 1px solid #71d46b !important;
    }
}

.btn-point-outline {
    background: #fff;
    border: 1px solid $c-point;
    color: $c-point;
}

.btn-point-outline2 {
    background: #fff;
    border: 1px solid $c-point;
    color: $c-point;
}

.btn-outline {
    color: #fff;
    border-radius: 2px;
    border: 2px solid #fff;
}

// SPECIFIC STYLES
// fieldset
.tab-style-btn {
    overflow: hidden;

    .tab-style-btn-item {
        button {
            width: 90px;
            height: 32px;
            line-height: 32px;
            border-radius: 0;
            color: #acacac;
            border: 1px solid #d9d9d9;
            border-left: 0 none;
            display: block;
            float: left;
            font-size: 12px;
        }

        &:first-child button {
            border-left: 1px solid #d9d9d9;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        &:last-child button {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }
}

.btn-with-input {
    display: inline-block;
    vertical-align: middle;

    input {
        padding: 0;
        margin: 0;
        border: 0 none;
        display: inline-block;
        width: 40px;
        border: 1px solid #ccc;
        border-right: 0 none;
        margin-right: -4px;
        height: 21px;
        text-align: center;
        vertical-align: middle;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        color: $c-font3;
        font-size: 10px;
        font-weight: bold;
    }

    button {
        display: inline-block;
        vertical-align: middle;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transition: opacity 0.3s ease;

        &:disabled {
            opacity: 0.5;
        }
    }
}
