// grid spacing
@mixin grid-spacing($mt, $ml) {
    .#{$namespace}grid__items {
        margin-left: - $ml;
        margin-top: - $mt;
    }

    .#{$namespace}grid__item > * {
        margin-left: $ml;
        margin-top: $mt;
    }
}

.grid {
    &__grid__items {

    }

    &__grid__item {

    }
}




.#{$namespace}grid {
    // default
    $marginTop: 16px;
    $marginLeft: 16px;

    @include grid-spacing($marginTop, $marginLeft);

    position: relative;
    overflow: hidden;

    &__items {
        height: 100%;
        overflow: hidden;
        &--2,
        &--3,
        &--4,
        &--5,
        &--6 {
            @extend .#{$namespace}grid__items;
        }
    }

    &__item {
        position: relative;
        float: left;
        width: 100%;
        > * {
            display: block;
            background: #efefef;
        }
    }

    &__items--2 &__item {
        width: (100%)/2;
    }
    &__items--3 &__item {
        width: (100%)/3;
    }
    &__items--4 &__item {
        width: (100%)/4;
    }
    &__items--5 &__item {
        width: (100%)/5;
    }
    &__items--6 &__item {
        width: (100%)/6;
    }
}

@include mobile {
    .grid-item {
        width: 50% !important;

        .m-col1 & {
            width: 100% !important
        }

        .m-col3 & {
            width: (100%/3) !important;
        }
    }
}