/* icons */
$transtion: cubic-bezier(0.075, 0.82, 0.165, 1);

.icon {
    padding: 4px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    transition: background-color 0.3s $transtion;

    path {
        transition: all, 0.3s, $transtion;
    }

    &-hover {
        @extend .icon;

        &:hover {
            path {
                fill: $c-point;
            }
        }

        &[data-state=active] {
            background: $c-point;
            path {
                fill: #fff;
            }
        }
    }

    &-star {
        @extend .icon;

        path {
            transition: fill 0.3s $transtion;
        }

        &--red {
            @extend .icon-star;

            path {
                fill: $c-point;
                stroke: $c-point;
            }
        }

        &--fav {
            @extend .icon-star;

            path {
                stroke-width: 1;
                fill: rgba(75, 75, 75, 0.2);
                stroke: #424242;
                stroke-opacity: 0.2;
            }
        }
    }

    &-share {
        @extend .icon;

        &--red {
            @extend .icon-share;

            path {
                fill: $c-point;
            }
        }
    }
}

// icons
.ico {
    display: inline-block;
    vertical-align: middle;

    &.creditcard {
        width: 82px;
        height: 48px;
        // border: 1px solid #ccc;
        color: $c-font9;
        margin-right: 12px;
        box-sizing: border-box;

        .sp-icon {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .bank-name {
            position: relative;
            z-index: 10;
            display: inline-block;
            margin-top: 11px;
            margin-left: 21px;
        }

        &.add-card-btn {
            border: 1px solid #ccc;
            border-radius: 5px;
            background: #fff;
            text-align: center;

            i {
                color: $c-point;
                line-height: 46px;
            }
        }

        @include mobile {
            display: inline-block;
            height: auto;
            width: auto;
            background: none !important;

            .bank-name {
                margin: 0;
            }

            .icon-creditcard {
                display: none;
            }
        }
    }

    &.outline {
        height:18px;
        border-radius: 9px;
        margin-left: 8px;
        line-height: 1.9;
        font-size: 9px;
        padding: 0 10px;
        background: #fff;

        &:first-child {
            margin-left: 0;
        }

        &.negative {
            border: 1px solid $c-point;
            color: $c-point;
        }

        &.positive {
            border: 1px solid $c-sub;
            color: $c-sub;
        }

        &.purple {
            border: 1px solid #7005e9;
            color: #7005e9;
        }

        &.blue {
            border: 1px solid #579de0;
            color: #579de0;
        }

        &.yellow {
            border: 1px solid #f49b1d;
            color: #f49b1d;
        }
    }
};

.arrow-style {
    display: inline-block;
    background: $c-point;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 6px 12px 5px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        border: 16px solid $c-point;
        top: 0;
    }

    &.right {
        &:after {
            left: 100%;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }
    }

    &.left {
        margin-left: 16px;
        &:after {
            left: -32px;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: transparent;
        }
    }

}


/* icons end */