h1 {
    font-size: 20px;
    color: $c-point;
}

.inner-w {
    width: $wrap-width;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;

    @include mobile {
        width: 100%;
        padding: 0 $m-spacing;

        &.mobile-full {
            padding: 0;

            &.bg {
                padding-top: 8px;
                background: #f5f5f5;
            }
        }
    }
}