.#{$namespace}container {
    width: $wrap-width;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;

    @include mobile {
        width: 100%;
        padding: 0 $m-spacing;
    }

    &--full {
        width: 100%;
    }
}