/* title start */
.#{$namespace}title {
    box-sizing: border-box;
    display: table;
    table-layout:fixed;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 24px;
    padding-bottom: 4px;
    border-bottom: 1px solid #d9d9d9;

    &__txt {
        font-size: 24px;
        font-weight: bold;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 75%;
        color: $c-font3;
        text-decoration: none;

        @include mobile {
            font-size: 16px;
        }

        > * {
            vertical-align: middle;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__txtright {
        text-align: right;
        font-size: 16px;
        color: $c-font3;
        text-decoration: none;

        @include mobile {
            font-size: 14px;
        }

        &--blue {
            @extend .#{$namespace}title__txtright;

            color: $c-sub;
        }
    }

    > * {
        display: table-cell;
        vertical-align: middle;
    }

    // --sub mod
    &--sub {
        @extend .#{$namespace}title;
    }

    &--sub &__txt {
        font-size: 16px;
    }

    &--sub &__txtright {
        font-size: 12px;
    }

    // --bg mod
    &--bg {
        @extend .#{$namespace}title;
        padding: 15px 16px 14px;
        margin-top: 40px;

        background: #f2f2f2;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
    }

    &--bg &__txt {
        font-size: 16px;

        @include mobile {
            font-size: 14px;
        }
    }

    &--bg &__txtright {
        font-size: 14px;
    }
}
/* title end */
