$c-font-default: $c-font3;

/*
* new btn style
*/
%btn-common {
    box-shadow: 0 1px 3px 0 #dfdfdf80;
    font-weight: normal;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #d9d9d9;
    vertical-align: middle;
    transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: border-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    color: $c-font3;
    cursor: pointer;

    > * {
        display: inline-block;
        vertical-align: middle;
        font-size: inherit;
        color: inherit;
    }

    &:focus {
        outline: none;
    }

    &[data-state=active] {
        transition: fill 0.4s ease, stroke .4s ease;

        path {
            fill: $c-point;
            stroke: darken($c-point, 5%);
            stroke-opacity: 1;
        }
    }
}

@mixin btn-sizing {
    // default
    @extend %btn-common;

    font-size: 12px;
    padding: 0 16px;
    line-height: 30px;

    @content;

    // modifiers
    &--mini {
        @extend %btn-common;

        font-size: 10px;
        padding: 0 8px;
        line-height: 20px;

        @content;
    }

    &--small {
        @extend %btn-common;

        font-size: 10px;
        padding: 0 12px;
        line-height: 22px;

        @content;
    }

    &--large {
        @extend %btn-common;

        font-size: 16px;
        padding: 0 24px;
        line-height: 46px;

        @content;
    }
}

// color-theme
.#{$namespace}btn {
    @extend %btn-common;
    @include btn-sizing {
        @include desktop {
            &:hover{
                outline: none;
                background: #f5f5f5;
                border-color: #d9d9d9;
            }

            &:focus {
                border-color: $c-font9;
            }
        }
    };

    &--red {
        @include btn-sizing {
            border-color: transparent;
            background: $c-point;
            color: #fff;

            @include desktop {
                &:hover{
                    background: $c-point-active;
                }

                &:focus {
                    border-color: #c4251c;
                }
            }
        };
    }

    &--redline {
        @include btn-sizing {
            border-color: $c-point;
            background: #fff;
            color: $c-point;

            @include desktop {
                &:hover{
                    outline: none;
                    background: #fcefee;
                }

                &:focus {
                    border-color: #c4251c;
                }
            }
        };
    }
}
