/* field.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

%textarea-base {
    transition: all, 0.3s, cubic-bezier(0.075, 0.82, 0.165, 1);
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #b4b4b4;
    vertical-align: middle;
    resize: none;
    padding: 4px 12px;
    line-height: 22px;
    text-indent: 0;
    font-size: 12px;

    &:focus {
        outline: none;
        border-color: $c-sub;
    }
}

%styled-input-base {
    padding: 1px 3px;
    margin: 0;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    border: 0 none;
    position: relative;
    width: 18px;
    height: 18px;

    &:before {
        content:'';
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        border: 1px solid #888;
        background: #fff;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        line-height: 19px;
        text-align: center;
        transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

        border-radius: 2px;
        position: absolute;
        left: 0;
        top: 0;
    }
}

%checkbox-style {
    @extend %styled-input-base;
    &:before {
        border-radius: 2px;
    }

    &:checked:before {
        cursor: pointer;
        content: '\2713';
        background: $c-point;
        border-color: $c-point;
    }
}

%radio-style {
    @extend %styled-input-base;
    &:before {
        border-radius: 50%;
    }

    &:checked:after {
        cursor: pointer;
        content:'';
        box-sizing: border-box;
        position: absolute;
        left: 2px;
        top: 50%;
        left: 50%;
        margin-left: -5px;
        margin-top: -5px;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $c-point;
    }
}

.#{$namespace}field {
    display: inline-block;
    font-size: 14px;
    position: relative;

    > * {
        vertical-align: middle;
        display: inline-block;
        margin: 0;
        padding: 0;
        font-size: inherit;
    }

    // disabled
    input,
    textarea {
        &:disabled,
        &[data-state=disabled] {
            opacity: 0.6;
            background: #f5f5f5;
            color: #acacac;
        }
    }

    &__label {
        font-size: 14px;
        color: $c-font3;
        cursor: pointer;

        &--block {
            @extend .#{$namespace}field__label;
            display: block;
        }
    }

    &__input {
        appearance: none;
        -webkit-appearance: none;
        color: $c-font3;
        transition: border-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        line-height: 30px;
        padding: 0 12px;
        position: relative;

        &[type=text],
        &[type=password],
        &[type=phone] {
            box-sizing: border-box;
            display: inline-block;
            border: 1px solid #b4b4b4;
            min-width: 160px;
            border-radius: 2px;
        }

        &[type=checkbox] {
            @extend %checkbox-style;
        }

        &[type=radio] {
            @extend %radio-style;
        }

        &[type=number] {
            line-height: 22px;
            min-height: 20px;
            padding: 0;
            margin: 0;
            border: 1px solid #b4b4b4;
            text-align: center;
        }

        // ui state
        &:focus {
            outline: 0 none;
            border-color: $c-sub;

            &:before {
                border-color: $c-sub;
            }

            &:checked:before {
                border-color: darken($c-point, 25%);
            }
        }

        // mods force radiobox to checkbox style
        &--checkbox {
            @extend .#{$namespace}field__input;
            &[type=radio] {
                @extend %checkbox-style;
                &:before {
                    border-radius: 2px;
                }
                &:after {
                    display: none !important;
                }
            }
        }
    }

    // style modifiers
    // add boxed background
    &--boxed {
        @extend .#{$namespace}field;
        padding: 0 18px;
        border: 1px solid #d9d9d9;
        background: #fff;
        text-align: left;

        input {
            margin-right: 8px;
        }
    }

    // number input
    &[data-uipack=numberinput]  {
        font-size: 0;
        vertical-align: middle;

        > * {
            display: inline-block;
            vertical-align: middle;
        }

        button {
            font-size: 14px;
            height: 24px;
            width: 24px;
            border-color: #b4b4b4;
            line-height: 22px;

            &[data-action=decrement] {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right: 0 none;
            }
            &[data-action=increment] {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: 0 none;
            }
        }

        input {
            vertical-align: top;
            border-radius: 0;
            min-height: 22px;
            width: 36px;
            font-size: 14px;
            appearance: none;
        }
    }

    // textarea
    &--autoresize {
        @extend .#{$namespace}field__input;
        @extend %textarea-base;
    }

    &--onchange {
        @extend .#{$namespace}field;
        position: relative;
        width: 100%;
        height: 80px;
        overflow: hidden;

        textarea {
            @extend %textarea-base;
        }

        &[data-state=active] {
            .ui_field__txtarea {
                right: 75px;
            }
            .ui_field__btn {
                margin-right: 0;
            }
        }

        &[data-state=disabled] {
            .ui_btn {
                display: none;
            }
        }

        &[data-state=readonly] {
            textarea:focus {
                outline: none;
                border-color: #b4b4b4 !important;
            }
        }
    }

    &--onchange &__btn {
        @extend .#{$namespace}btn;
        position: absolute;
        color: $c-sub;
        line-height: 78px;
        width: 72px;
        height: 80px;
        right: 0;
        margin-right: -72px;

        &:focus {
            border-color: $c-sub;
            box-shadow: $box-shadow;
        }
    }

    &--onchange &__txtarea {
        position: absolute;
        left: 0;
        right: 0;
        height: 80px;
        transition: width, 0.3s, ease;

        textarea {
            width: 100%;
            height: 100%;
            box-shadow: $box-shadow;
            border-radius: 2px;
            line-height: 1.5;

            &[maxlength] {
                padding-right: 30px;
            }

            &::placeholder {
                color: $c-point;
                opacity: 1;
                font-weight: bold;
            }

            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $c-point;
                opacity: 1;
                font-weight: bold;
            }

            ::-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $c-point;
                opacity: 1;
                font-weight: bold;
            }
        }
    }

    &--onchange &__chars {
        position: absolute;
        bottom: 10px;
        right: 8px;
        font-size: 12px;
        color: $c-font9;
        font-style: normal;
    }
}
/* field.scss end */