// default
$marginTop: 16px;
$marginLeft: 16px;

.#{$namespace}grid {
    @include grid-spacing($marginTop, $marginLeft);

    position: relative;
    overflow: hidden;

    &__cols {
        height: 100%;
        overflow: hidden;
        &--2,
        &--3,
        &--4,
        &--5,
        &--6,
        &--7,
        &--8 {
            @extend .#{$namespace}grid__cols;
        }
    }

    &__cols > &__item {
        position: relative;
        float: left;
        width: 100%;
        > * {
            display: block;
        }
    }

    // modifiers
    // spacing
    &--spacing0 {
        @extend .#{$namespace}grid;
        @include grid-spacing(0px, 0px);
    }
    &--spacing2 {
        @extend .#{$namespace}grid;
        @include grid-spacing(2px, 2px);
    }
    &--spacing4 {
        @extend .#{$namespace}grid;
        @include grid-spacing(4px, 4px);
    }
    &--spacing8 {
        @extend .#{$namespace}grid;
        @include grid-spacing(8px, 8px);
    }

    // cols
    &__cols--2 > &__item {
        width: (100%)/2;
    }
    &__cols--3 > &__item {
        width: (100%)/3;
    }
    &__cols--4 > &__item {
        width: (100%)/4;
    }
    &__cols--5 > &__item {
        width: (100%)/5;
    }
    &__cols--6 > &__item {
        width: (100%)/6;
    }
    &__cols--7 > &__item {
        width: (100%)/7;
    }
    &__cols--8 > &__item {
        width: (100%)/8;
    }

    // mobile
    @include mobile {
        &__cols > &__item {
            width: 50%;
        }
        &__cols--m1 > &__item {
            width: (100%)/1 !important;
        }
        &__cols--m2 > &__item {
            width: (100%)/2 !important;
        }
        &__cols--m3 > &__item {
            width: (100%)/3 !important;
        }
    }
}