.curtain {
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.48);
    z-index: 1000;
}

.#{$namespace}modal {
    box-sizing: border-box;
    z-index: 1000;
    position: fixed;
    top: 30%;
    left: 50%;
    width: 320px;
    margin-left: -160px;
    padding: 18px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    background-color: #fafafa;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 12px 17px 2px rgba(0, 0, 0, 0.14);

    &__title {
        display: inline-block;
        width: 100%;
        font-weight: bold;
        margin-top: 12px;
        padding-bottom: 4px;
        color: $c-font3;
    }

    &__message {
        display: inline-block;
        font-size: 14px;
        margin-top: 12px;
        color: $c-font6;
        white-space: pre-line;
    }

    &__html {
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__btngroup {
        margin-top: 24px;
        text-align: center;

        &:after {
            content: '';
            display: block;
            clear: both;
        }

        > * {
            display: block;
            font-size: 14px;
            float: left;
            width: 49%;
            margin-left: 2%;
            font-weight: normal;

            &:first-child {
                margin-left: 0;
            }
        }

        &--single {
            @extend .#{$namespace}modal__btngroup;
            > * {
                &:first-child {
                    display: none;
                }
                width: 100%;
                margin-left: 0;
            }

        }
    }

    .ui_field {
        margin-top: 5px;
        display: block;
        text-align: left;
    }
}
