.#{$namespace}rating {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;

    &__icon {
        display: inline-block;
        vertical-align: middle;
        font-style: normal;
        color: red;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #d9d9d9;
        text-align: center;

        &[data-state=active] {
            background: #ffc801;
        }

        &[data-state=half] {
            background: lighten(#ffc801, 25%);
        }
    }
}

.ui_rating {
    .fa-star {
        color: #d9d9d9;
        &[data-state=active] {
            color: #ffc801;
        }

        &[data-state=half] {
            color: #ffc801;
            &:before {
                content:'\f089'
            }
        }
    }
}