.#{$namespace}rating {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;

    &__icon {
        display: inline-block;
        vertical-align: middle;
        font-style: normal;
        color: red;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: $gray-scale-500;
        text-align: center;

        &[data-state=active] {
            background: #ffc801;
        }

        &[data-state=half] {
            background: lighten(#ffc801, 25%);
        }
    }

    &__label {
        display: inline-block;
        vertical-align: middle;
        font-style: normal;
        color: $gray-scale-300;
        font-size: 12px;

        &:first-child {
            margin-right: 5px;
        }

        &:last-child {
            margin-left: 5px;
        }

        &--blue {
            @extend .ui_rating__label;

            color: $sub-color;
            font-weight: bold;
            font-size: inherit;
        }
    }
}

.ui_rating {
    .fa-star {
        color: $gray-scale-500;
        &[data-state=active] {
            color: #ffc801;
        }

        &[data-state=half] {
            color: #ffc801;
            &:before {
                content:'\f089'
            }
        }
    }
}