%styled-input-base {
    position: relative;
    padding: 0;
    margin: 0 3px;
    display: inline-block;
    width: 18px;

    font-family: Arial, Helvetica, sans-serif;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;

    &:before {
        content:'';
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -9px;
        box-sizing: border-box;
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid #888;
        background: #fff;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        line-height: 18px;
        text-align: center;
        transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        cursor: pointer;
        border-radius: 2px;
    }
}

%checkbox-style {
    @extend %styled-input-base;
    &:before {
        border-radius: 2px;
    }

    &:checked:before {
        cursor: pointer;
        content: '\2713';
        background: $c-point;
        border-color: $c-point;
    }
}

%radio-style {
    @extend %styled-input-base;
    &:before {
        border-radius: 50%;
    }

    &:checked:after {
        cursor: pointer;
        content:'';
        box-sizing: border-box;
        position: absolute;
        left: 2px;
        top: 50%;
        left: 50%;
        margin-left: -5px;
        margin-top: -5px;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $c-point;
    }
}

.userinput {
    display: inline-block;
    font-size: 14px;
    position: relative;
    // height: 32px;

    > * {
        vertical-align: middle;
        display: inline-block;
        margin: 0;
        padding: 0;
        font-size: inherit;
    }

    &__input {
        color: $c-font3;
        transition: border-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        position: relative;
        min-height: 32px;
        border-radius: 2px;

        &[type=text],
        &[type=password],
        &[type=phone] {
            box-sizing: border-box;
            display: inline-block;
            border: 1px solid #b4b4b4;
            text-indent: 12px;
            min-width: 160px;
        }

        &[type=checkbox] {
            @extend %checkbox-style;
        }

        &[type=radio] {
            @extend %radio-style;
        }

        &:focus {
            outline: 0 none;
            border-color: $c-sub;

            &:before {
                border-color: $c-sub;
            }

            &:checked:before {
                border-color: darken($c-point, 25%);
            }
        }

        // mods force radiobox to checkbox style
        &--checkbox {
            @extend .userinput__input;
            &[type=radio] {
                @extend %checkbox-style;
                &:before {
                    border-radius: 2px;
                }
                &:after {
                    display: none !important;
                }
            }
        }
    }

    &__label {
        font-size: 14px;
        color: $c-font3;
        cursor: pointer;

        &--block {
            @extend .userinput__label;
            display: block;
        }
    }

    &--boxed {
        @extend .userinput;
        padding: 0 18px;
        border: 1px solid #d9d9d9;
        background: #fff;
        text-align: left;

        input {
            margin-right: 8px;
        }
    }
}
