/* userinput.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

%styled-input-base {
    position: relative;
    padding: 0;
    margin: 0 3px;
    display: inline-block;
    width: 18px;

    font-family: Arial, Helvetica, sans-serif;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;

    &:before {
        content:'';
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -9px;
        box-sizing: border-box;
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid #888;
        background: #fff;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        line-height: 18px;
        text-align: center;
        transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        cursor: pointer;
        border-radius: 2px;
    }
}

%checkbox-style {
    @extend %styled-input-base;
    &:before {
        border-radius: 2px;
    }

    &:checked:before {
        cursor: pointer;
        content: '\2713';
        background: $c-point;
        border-color: $c-point;
    }
}

%radio-style {
    @extend %styled-input-base;
    &:before {
        border-radius: 50%;
    }

    &:checked:after {
        cursor: pointer;
        content:'';
        box-sizing: border-box;
        position: absolute;
        left: 2px;
        top: 50%;
        left: 50%;
        margin-left: -5px;
        margin-top: -5px;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $c-point;
    }
}

.#{$namespace}userinput {
    display: inline-block;
    font-size: 14px;
    position: relative;

    > * {
        vertical-align: middle;
        display: inline-block;
        margin: 0;
        padding: 0;
        font-size: inherit;
    }

    &__label {
        font-size: 14px;
        color: $c-font3;
        cursor: pointer;

        &--block {
            @extend .#{$namespace}userinput__label;
            display: block;
        }
    }

    &__input {
        color: $c-font3;
        transition: border-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        position: relative;
        min-height: 32px;
        border-radius: 2px;

        &[type=text],
        &[type=password],
        &[type=phone] {
            box-sizing: border-box;
            display: inline-block;
            border: 1px solid #b4b4b4;
            text-indent: 12px;
            min-width: 160px;
        }

        &[type=checkbox] {
            @extend %checkbox-style;
        }

        &[type=radio] {
            @extend %radio-style;
        }

        &[type=number] {
            // line-height: 22px;
            // min-height: 20px;
            padding: 0;
            margin: 0;
            border: 1px solid #b4b4b4;
            text-align: center;
        }

        // ui state
        &:focus {
            outline: 0 none;
            border-color: $c-sub;

            &:before {
                border-color: $c-sub;
            }

            &:checked:before {
                border-color: darken($c-point, 25%);
            }
        }

        // style modifiers
        // override radiobox to checkbox style
        &--checkbox {
            @extend .#{$namespace}userinput__input;
            &[type=radio] {
                @extend %checkbox-style;
                &:before {
                    border-radius: 2px;
                }
                &:after {
                    display: none !important;
                }
            }
        }
    }

    // style modifiers
    // add boxed background
    &--boxed {
        @extend .#{$namespace}userinput;
        padding: 0 18px;
        border: 1px solid #d9d9d9;
        background: #fff;
        text-align: left;

        input {
            margin-right: 8px;
        }
    }

    &[data-uipack=numberinput]  {
        font-size: 0;
        vertical-align: middle;

        > * {
            display: inline-block;
            vertical-align: middle;
        }

        button {
            font-size: 14px;
            height: 24px;
            width: 24px;
            border-color: #b4b4b4;
            line-height: 22px;

            &[data-action=decrement] {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right: 0 none;
            }
            &[data-action=increment] {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: 0 none;
            }
        }

        input {
            vertical-align: top;
            border-radius: 0;
            min-height: 22px;
            width: 36px;
            font-size: 14px;
            appearance: none;
        }
    }

    &--autoresize {
        @extend .#{$namespace}userinput__input;
        transition: all, 0.3s, cubic-bezier(0.075, 0.82, 0.165, 1);
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid #b4b4b4;
        vertical-align: middle;
        resize: none;
        padding: 4px 12px;
        line-height: 22px;
        text-indent: 0;
        font-size: 12px;
        &:focus {
            outline: none;
        }
    }
}
/* userinput.scss end */