// uipack namespace
$namespace: 'ui_';

$c-point: #dd5850;
$c-point-active: #c74f48;
$c-point-focus: #dd5850;
$c-point-hover: #c8352e;
$c-sub: #22a7af;

$c-uiblue: #579de0;
$c-font3: #333;
$c-font6: #666;
$c-font9: #999;

$c-error: #d8524a;

$gray-l: #d9d9d9;
$gray-m: #acacac;

// dimensions
$wrap-width: 1056px;
$content-spacing: 48px;

// mobile view contents spacing
$m-spacing: 12px;

// input state
$c-input-focus: $c-sub;

// global line-height;
$lh: 1.5;
$browser-context: 16;

$box-shadow: 0 1px 3px 0 rgba(220, 220, 220, 0.3);

// px to em;
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

// grid spacing
@mixin grid-spacing($mt, $ml) {
    .#{$namespace}grid__cols {
        margin-left: - $ml;
        margin-top: - $mt;
    }
    .#{$namespace}grid__item > * {
        margin-left: $ml;
        margin-top: $mt;
    }
}

@mixin ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin multiline($fz, $lh, $num) {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $fz*$lh*$num; /* Fallback for non-webkit */
    font-size: $fz;
    line-height: $lh;
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

// box-ratio ratio
@mixin box-ratio($x, $y) {
    $height: (100% / $x) * $y;

    position: relative;
    display: block;
    width: 100%;
    height: auto;

    &:after {
        content: '';
        display: block;
        padding-bottom: $height;
    }

    > * {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

/**
.selector {
  @include tablet {
    background: $prmCol;
  };
  @include mobile {
    background: url("./assets/images/bg_pattern.png") repeat;
  };
}
*/

$desktop-width: $wrap-width;
$desktop-max: $wrap-width;
$tablet-width:720px;
$mobile-width:360px;
$iPhone4: 320px;

@mixin iPhone4 {
    @media (max-width: #{$iPhone4}) {
        @content;
    }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
        @content;
  }
}

@mixin desktop {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin limDesktop {
    @media (min-width: #{$desktop-max}) {
        @content;
    }
}
