<pre data-code="button">
    <code class="md">
        ## 버튼 클래스 확장 X
        - 스타일 조정이 필요할땐 부모 컴포넌트에서 .ui_btn-* 수정

        ## ui_btn-theme
        - themes: ui_btn-white, ui_btn-red, ui_btn-redline
        - 추가시 &-theme {} 으로 작성

        ## ui_btn sizing modifiers
        - 3 modifiers: *--mini, *--small & *--large

        ## ui_btn state
        - active: (.active)js단에서 addClass()로 활용하는게 많아서...
        - disabled: (&lt;button ... disabled&gt;) 속성 활용
    </code>
</pre>

<fiedset class="btn-group">
    <button type="button" class="ui_btn-white--large" data-state="active">주문하기</button>
    <button type="button" class="ui_btn-white">주문하기</button>
    <button type="button" class="ui_btn-white--small">주문하기</button>
    <button type="button" class="ui_btn-white--mini">주문하기</button>
</fiedset>
<fiedset class="btn-group">
    <button type="button" class="ui_btn-red--large">주문하기</button>
    <button type="button" class="ui_btn-red">주문하기</button>
    <button type="button" class="ui_btn-red--small">주문하기</button>
    <button type="button" class="ui_btn-red--mini">주문하기</button>
</fiedset>
<fiedset class="btn-group">
    <button type="button" class="ui_btn-redline--large">주문하기</button>
    <button type="button" class="ui_btn-redline">주문하기</button>
    <button type="button" class="ui_btn-redline--small">주문하기</button>
    <button type="button" class="ui_btn-redline--mini">주문하기</button>
</fiedset>

<button type="button" class="ui_btn-white" data-ui="fav-btn" data-state>
    <svg class="icon-star" width="20" height="20" viewBox="0 0 20 20">
        <path fill="none" stroke="#666" stroke-width="2" d="M5.79131669,18.3300805 L10.0016942,16.0221702 L14.2120718,18.3300805 C15.224136,18.8848415 15.704991,18.5447838 15.5169847,17.4018836 L14.7034168,12.4561589 L18.1084325,8.99556511 C18.9326992,8.15784446 18.7322534,7.54568461 17.5809506,7.37125717 L12.8998726,6.66205326 L10.7732472,2.16930513 C10.278792,1.1247099 9.72478589,1.12430969 9.23014125,2.16930513 L7.1035159,6.66205326 L2.42243788,7.37125717 C1.27004653,7.54584953 1.07000507,8.15714907 1.89495593,8.99556511 L5.29997172,12.4561589 L4.48640373,17.4018836 C4.2974141,18.550762 4.77345655,18.8880186 5.79131669,18.3300805 Z"
        />
    </svg>
    <span>좋아요</span>
</button>

<!-- <script>
    $('[data-ui="fav-btn"]').on('click', function () {
        var state = $(this).attr('data-state');
        var newState;

        if (state == 'active') {
            newState = '';
        } else {
            newState = 'active';
        }

        $(this).attr('data-state', newState);
    });
</script> -->