<div class="ui_grid">
    <div class="ui_grid__cols--5">
        <div class="ui_grid__item">
            <div class="ui_card" data-state="loading">
                <div class="ui_card__imgcover">
                    <a href="#link1" class="ui_card__img" style="background-image: url();"></a>
                </div>
                <div class="ui_card__info">
                    <a href="#link2" class="ui_card__label"></a>
                    <a href="#link3" class="ui_card__title"></a>
                </div>
                <div class="ui_card__rating">
                    <div class="ui_card__vcenter">
                        <div class="ui_rating" data-uipack="rating" data-value="">
                            <i class="ui_rating__icon"></i>
                            <i class="ui_rating__icon"></i>
                            <i class="ui_rating__icon"></i>
                            <i class="ui_rating__icon"></i>
                            <i class="ui_rating__icon"></i>
                        </div>
                    </div>
                    <span class="ui_card__comment"></span>
                </div>
            </div>
        </div>

        <div class="ui_grid__item--merge2">
            <div class="ui_card--side" data-state="loading">
                <div class="ui_card__inner">
                    <div class="ui_card__imgcover">
                        <a href="#" class="ui_card__img" style="background-image: url();">
                        </a>
                    </div>
                    <div class="ui_card__txtarea">
                        <div class="ui_card__info">
                            <a href="#" class="ui_card__title"></a>
                            <span class="ui_card__para--lines3"></span>
                        </div>
                        <div class="ui_card__rating">
                            <div class="ui_card__vcenter">
                                <div class="ui_rating" data-uipack="rating" data-value="0">
                                    <i class="ui_rating__icon"></i>
                                    <i class="ui_rating__icon"></i>
                                    <i class="ui_rating__icon"></i>
                                    <i class="ui_rating__icon"></i>
                                    <i class="ui_rating__icon"></i>
                                    <!-- <span>&nbsp;| John Doe</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>