<div class="ui_grid">
    <div class="ui_grid__cols--4">
        <div class="ui_grid__item">
            <div class="ui_card">
                <button type="button" class="ui_card__overlay">i</button>

                <div class="ui_card__imgarea">
                    <a href="#link1" class="ui_card__image" style="background-color: rgb(255, 255, 255); display: block; background-image: url(&quot;https://image.idus.com/image/files/f421c3cc3d4446c998d1ca11a510daab_512.jpg&quot;);"></a>
                </div>

                <div class="ui_card__info">
                    <a href="#link2" class="ui_card__label">파이커피</a>
                    <a href="#link3" class="ui_card__title">감동선물세트🎁더치&amp;밀크티</a>
                    <span class="ui_card__cost">
                        <b>[50%] 18,000 원</b>
                        <em>36,000원</em>
                    </span>
                </div>

                <div class="ui_card__rating">
                    <div class="ui_card__vcenter">
                        <div class="ui_rating" data-uipack="rating" data-value="3">
                            <i class="ui_rating__icon"></i>
                            <i class="ui_rating__icon"></i>
                            <i class="ui_rating__icon"></i>
                            <i class="ui_rating__icon"></i>
                            <i class="ui_rating__icon"></i>
                        </div>
                    </div>
                    <span class="ui_card__comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
                        tenetur quo et quaerat a ullam voluptatum libero quis totam quae odit cum placeat consequatur,
                        autem laboriosam veniam quidem. Amet, quasi.</span>
                </div>
            </div>
        </div>
        <div class="ui_grid__item">
            <div class="ui_card">
                <button type="button" class="ui_card__overlay">i</button>

                <div class="ui_card__imgarea">
                    <a href="#link1" class="ui_card__image" style="background-color: rgb(255, 255, 255); display: block; background-image: url(&quot;https://image.idus.com/image/files/f421c3cc3d4446c998d1ca11a510daab_512.jpg&quot;);"></a>
                </div>

                <div class="ui_card__info">
                    <a href="#link2" class="ui_card__label">파이커피</a>
                    <a href="#link3" class="ui_card__title">감동선물세트🎁더치&amp;밀크티</a>
                    <span class="ui_card__cost">
                        <b>[50%] 18,000 원</b>
                        <em>36,000원</em>
                    </span>
                </div>

                <div class="ui_card__rating">
                    <div class="ui_card__vcenter">
                        <div class="ui_rating" data-uipack="rating" data-value="3">
                            <i class="ui_rating__icon"></i>
                            <i class="ui_rating__icon"></i>
                            <i class="ui_rating__icon"></i>
                            <i class="ui_rating__icon"></i>
                            <i class="ui_rating__icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui_grid__item">
            <div class="ui_card">
                <button type="button" class="ui_card__overlay">i</button>

                <div class="ui_card__imgarea">
                    <a href="#link1" class="ui_card__image" style="background-color: rgb(255, 255, 255); display: block; background-image: url(&quot;https://image.idus.com/image/files/f421c3cc3d4446c998d1ca11a510daab_512.jpg&quot;);"></a>
                </div>

                <div class="ui_card__info">
                    <a href="#link2" class="ui_card__label">파이커피</a>
                    <a href="#link3" class="ui_card__title">감동선물세트🎁더치&amp;밀크티</a>
                    <span class="ui_card__cost">
                        <b>[50%] 18,000 원</b>
                        <em>36,000원</em>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="ui_card--side" style="width: 520px; display: block">
    <div class="ui_card__inner">
        <div class="ui_card__imgarea">
            <a href="#" class="ui_card__image" style="background-image: url(https://image.idus.com/image/files/16a4a551e14c47e68b7aa9754f7f11c2_720.jpg)">
            </a>
        </div>
        <div class="ui_card__txtarea">
            <div class="ui_card__info">
                <a href="#" class="ui_card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Excepturi odit dolores, ullam dicta eveniet sit, consectetur asperiores quasi
                    voluptatem natus, sunt aliquid cum omnis magnam aperiam enim aliquam accusamus vel!</a>
                <span class="ui_card__para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
                    provident aperiam cupiditate, asperiores, consequuntur odit quis dolores officiis
                    consectetur delectus nisi omnis illum. Nostrum voluptatem tempora reprehenderit animi
                    ipsa fuga!</span>
            </div>

            <div class="ui_card__rating">
                <div class="ui_card__vcenter">
                    <div class="ui_rating" data-uipack="rating" data-value="3">
                        <i class="ui_rating__icon"></i>
                        <i class="ui_rating__icon"></i>
                        <i class="ui_rating__icon"></i>
                        <i class="ui_rating__icon"></i>
                        <i class="ui_rating__icon"></i>
                        <span>&nbsp;| John Doe</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>