<pre data-code="grid">
    <code class="stylus">
        // options
        // default spacing = 16px top, 16px left
        .grid--spacing2 = 2px;
        .grid--spacing4 = 4px;
        .grid--spacing8 = 8px;

        // 반응형 적용시 복수 클래스로 둘다 적용
        // columns
        .ui_grid__cols--2 // .ui_grid__cols--2 ~ .ui_grid__cols--8(colume number);

        // responsive - !optional
        .ui_grid__cols--m2 // .ui_grid__cols--m1 ~ .ui_grid__cols--m3;

        // custom
        // import mixin from
        @import './node_modules/uipack-idus/src/style/modules/var';

        .ui_grid--mygrid {
            @include grid-spacing(10px, 10px);
        }
    </code>
</pre>

<div class="ui_grid--spacing8">
    <div class="ui_grid__cols--4 ui_grid__cols--m2">
        <div class="ui_grid__item">
            <div>item</div>
        </div>
        <div class="ui_grid__item">
            <div>item</div>
        </div>
        <div class="ui_grid__item">
            <div>item</div>
        </div>
        <div class="ui_grid__item">
            <div>item</div>
        </div>
        <div class="ui_grid__item">
            <div>item</div>
        </div>
        <div class="ui_grid__item">
            <div>item</div>
        </div>
        <div class="ui_grid__item">
            <div>item</div>
        </div>
        <div class="ui_grid__item">
            <div>item</div>
        </div>
    </div>
</div>