<pre data-code="grid">
    <code class="stylus">
        // default spacing = 16px top, 16px left
        // modify spacing
        .grid {
            // mixin
            @include grid-spacing($marginTop, $marginLeft);
            ...
        }

        // class modifier
        .grid.col@ // @ = 2 ~ 6 : number of cols
        .grid.no-spacing // no-margin
    </code>
</pre>

<div class="ui_grid">
    <div class="ui_grid__items--4">
        <div class="ui_grid__item">
            <div>item</div>
        </div>
        <div class="ui_grid__item">
            <div>item</div>
        </div>
        <div class="ui_grid__item">
            <div>item</div>
        </div>
        <div class="ui_grid__item">
            <div>item</div>
        </div>
        <div class="ui_grid__item">
            <div>item</div>
        </div>
        <div class="ui_grid__item">
            <div>item</div>
        </div>
        <div class="ui_grid__item">
            <div>item</div>
        </div>
        <div class="ui_grid__item">
            <div>item</div>
        </div>
    </div>
</div>