<pre data-code="modal">
    <code class="javascript">
        options = {
            btnText: '', // default '확인';
            buttonMod: '--modifier-class', // default undefined
            callback: fn(), // undefined
            href: 'www.url-link.com', // undefined ok 버튼
            href0: 'www.url-link.com', // undefined 취소 버튼
            html: '', // undefined
            message: '',
            title: ''
        }

        // using preset modal - alert, confirm
        uipack.alert({
            // options
            title: 'Greetings! 👋',
            message: 'All good?',
        });

        // creating new modal
        const someModal = new uipack.Modal({
            // options
        });

        // someModal.show();
        // someModal.hide();
    </code>
</pre>

<fieldset>
    <button class="trigger ui_btn" data-action="alert">open alert</button>
    <button class="trigger ui_btn--red" data-action="confirm">open confirm</button>
    <button class="trigger ui_btn--red" data-action="cookied">open Cookied</button>
</fieldset>

<script>
    var trigger = document.getElementsByClassName('trigger');

    function eventHandler(event) {
        var type = event.target.dataset.action;
        switch (type) {
            case 'cookied':
                uipack.alert({
                    title: 'Want 🍪🍪🍪?',
                    className: 'someClassName',
                    message: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi beatae facilis qui omnis, nihil atque inventore quibusdam dolorem quae nisi. Labore, doloremque corrupti quam dolor libero asperiores sunt harum eveniet!',
                    cookie:{
                        days: 7,
                        label: `hide for 7days`
                    }
                });

                break;
            case 'alert':
                uipack.alert({
                    title: 'Greetings! 👋',
                    message: 'All good?'
                });

                break;

            case 'confirm':
                uipack.confirm({
                    title: 'Are you sure? 😳',
                    message: 'ARE YOU SURE??? 😳😳😳😳'
                });

                break;

            default:
                break;
        }
    }

    for (var i = 0; i < trigger.length; i++) {
        trigger[i].addEventListener('click', eventHandler);
    }
</script>