<pre data-code="selectbox">
    <h3>셀렉트 박스</h3>
    <code class="html">
        &lt;!--

        * required properties
        * .selectbox: required for css style
        * data-uipack="selectbox": ui활성화 (js 셀렉터)
        *
        * optional properties
        *
        * data-placeholder="PLACEHOLDER TEXT"
        * data-state="disabled"
        --&gt;

        &lt;!-- properties --&gt;
        &lt;div class="selectbox"
            data-uipack="selectbox"
            data-state="disabled"
            data-placeholder="placeholder text"
        &gt;
            &lt;!-- REQUIRED --&gt;
            &lt;select hidden name="{}"&gt;&lt;/select&gt;
        ...

        &lt;/div&gt;
    </code>
    <code class="js">
        // data-uipack="selectbox" 선택자로 자동 init

        // 비동기로 마크업 로드시
        uiPack.events.emit('INIT_SELECTBOX');
    </code>
    <h3>USERINPUT</h3>
    <code class="html">
        &lt;!--
        //  마트업은 동일
        // .userinput__label 위치만 필요에따라 변경

        type=text
        type=password
        type=radio
        type=checkbox

        --스타일 변형 옵션
        * .userinput__label--block : 블록 스타일 레이블
        * [type="radio"]인풋일시 .userinput__input--checkbox 모드 가능

        --&gt;

        &lt;label class="userinput"&gt;
            &lt;input class="userinput__input" type="{}" name="{}" value="{}"&gt;
            &lt;span class="userinput__label"&gt;{}&lt;/span&gt;
        &lt;/label&gt;
    </code>
</pre>

<form action="#">
    <fieldset>
        <legend>SELECTBOX</legend>
        <div class="selectbox" data-uipack="selectbox">
            <select hidden name="selectName1"></select>
            <div class="selectbox__trigger">
                <div class="selectbox__trigger__text"></div>
                <i class="selectbox__trigger__icon"></i>
            </div>
            <ul class="selectbox__dropdown">
                <li class="selectbox__dropdown__option" value="option1">option1</li>
                <li class="selectbox__dropdown__option" value="option2">option2</li>
                <li class="selectbox__dropdown__option" value="option3">option3</li>
            </ul>
        </div>

        <div class="selectbox" data-uipack="selectbox" data-state="disabled">
            <select hidden name="selectName2"></select>
            <div class="selectbox__trigger">
                <div class="selectbox__trigger__text"></div>
                <i class="selectbox__trigger__icon"></i>
            </div>
            <ul class="selectbox__dropdown">
                <li class="selectbox__dropdown__option" value="option1">option1</li>
                <li class="selectbox__dropdown__option" value="option2">option2</li>
                <li class="selectbox__dropdown__option" value="option3">option3</li>
            </ul>
        </div>

        <div class="selectbox" data-uipack="selectbox" data-placeholder="option-placeholder">
            <select hidden name="selectName3"></select>
            <div class="selectbox__trigger">
                <div class="selectbox__trigger__text"></div>
                <i class="selectbox__trigger__icon"></i>
            </div>
            <ul class="selectbox__dropdown">
                <li class="selectbox__dropdown__option" value="option1">option1</li>
                <li class="selectbox__dropdown__option" value="option2">option2</li>
                <li class="selectbox__dropdown__option" value="option3">option3</li>
            </ul>
        </div>
    </fieldset>

    <fieldset>
        <legend>NUMBER</legend>
        <label class="userinput" data-uipack="numberinput">
            <span class="userinput__label">counter</span>
            <button type="button" class="nbtn-white" data-action="decrement">-</button>
            <input class="userinput__input" name="count" type="number" value="0" min="0" max="999" autocomplete="off">
            <button type="button" class="nbtn-white" data-action="increment">+</button>
        </label>
        <label class="userinput" data-uipack="numberinput">
            <span class="userinput__label">counter</span>
            <button type="button" class="nbtn-white" data-action="decrement">-</button>
            <input class="userinput__input" name="count" type="number" value="0" min="0" max="999" autocomplete="off">
            <button type="button" class="nbtn-white" data-action="increment">+</button>
        </label>
    </fieldset>

    <fieldset>
        <legend>INPUTFIELD</legend>
        <div class="userinput">
            <label for="textinput2" class="userinput__label">textinput2</label>
            <input class="userinput__input" type="text" name="textinput2" placeholder="Textinput2" autocomplete="off">
        </div>
        <label class="userinput">
            <span class="userinput__label">textinput</span>
            <input class="userinput__input" type="text" name="textinput" placeholder="Textinput" autocomplete="off">
        </label>
        <label class="userinput">
            <span class="userinput__label">password</span>
            <input class="userinput__input" type="password" name="password" placeholder="Password" autocomplete="off">
        </label>
    </fieldset>

    <fieldset>
        <legend>CHECKBOX</legend>
        <label class="userinput">
            <input class="userinput__input" type="checkbox" name="checkinput1">
            <span class="userinput__label">checkinput1</span>
        </label>
        <label class="userinput">
            <input class="userinput__input" type="checkbox" name="checkinput2">
            <span class="userinput__label">checkinput2</span>
        </label>
        <label class="userinput">
            <input class="userinput__input" type="checkbox" name="checkinput3">
            <span class="userinput__label">checkinput3</span>
        </label>
    </fieldset>

    <fieldset>
        <legend>RADIO</legend>
        <div>
            <label class="userinput">
                <input class="userinput__input" type="radio" name="radioinput" value="radio1" checked>
                <span class="userinput__label">radio1</span>
            </label>
            <label class="userinput">
                <input class="userinput__input" type="radio" name="radioinput" value="radio2">
                <span class="userinput__label">radio2</span>
            </label>
            <label class="userinput">
                <input class="userinput__input" type="radio" name="radioinput" value="radio3">
                <span class="userinput__label">radio3</span>
            </label>
        </div>
        <div>
            <label class="userinput">
                <input class="userinput__input--checkbox" type="radio" name="forceCheckbox" value="forceCheckbox1" checked>
                <span class="userinput__label">checkbox style radio</span>
            </label>
            <label class="userinput">
                <input class="userinput__input--checkbox" type="radio" name="forceCheckbox" value="forceCheckbox2">
                <span class="userinput__label">checkbox style radio</span>
            </label>
            <label class="userinput">
                <input class="userinput__input--checkbox" type="radio" name="forceCheckbox" value="forceCheckbox3">
                <span class="userinput__label">checkbox style radio</span>
            </label>
        </div>
    </fieldset>

    <button type="submit" class="nbtn-red">SUBMIT</button>
</form>

<script>
    uipack.emit('INIT_SELECTBOX');
    uipack.emit('INIT_INPUTNUMBER');
</script>