<div style="padding: 0 20px">
    <div class="ui_title" data-state="active">
        <a href="#" class="ui_title__txt">.ui_title</a>
        <span class="ui_title__txtright">link</span>
    </div>

    <div class="ui_title--sizedown">
        <a href="#" class="ui_title__txt">.ui_title--sizedown</a>
        <span class="ui_title__txtright--blue">link</span>
    </div>

    <div class="ui_title--block">
        <a href="#" class="ui_title__txt">.ui_title--block</a>
        <div class="ui_title__txtright--blue">
            <a href="#" class="nbtn-red--mini">주문하기</a>
        </div>
    </div>
</div>