<div style="padding: 0 20px">
    <div class="titlebar" data-state="active">
        <a href="#" class="titlebar__txtmain">.titlebar</a>
        <span class="titlebar__txtright">link</span>
    </div>

    <div class="titlebar--sizedown">
        <a href="#" class="titlebar__txtmain">.titlebar--sizedown</a>
        <span class="titlebar__txtright--blue">link</span>
    </div>

    <div class="titlebar--block">
        <a href="#" class="titlebar__txtmain">.titlebar--block</a>
        <div class="titlebar__txtright--blue">
            <a href="#" class="nbtn-red--mini">주문하기</a>
        </div>
    </div>
</div>