@charset "UTF-8";
[hidden] {
  display: none;
}

/*
* default browser scrollbar override
* @include scrollbars(.5em, slategray);
*/
/**
.selector {
  @include tablet {
    background: $prmCol;
  };
  @include mobile {
    background: url("./assets/images/bg_pattern.png") repeat;
  };
}
*/
h1 {
  font-size: 20px;
  color: #dd5850;
}

.inner-w {
  width: 1056px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

@media (max-width: 719px) {
  .inner-w {
    width: 100%;
    padding: 0 12px;
  }
  .inner-w.mobile-full {
    padding: 0;
  }
  .inner-w.mobile-full.bg {
    padding-top: 8px;
    background: #f5f5f5;
  }
}

/* icons */
.icon, .icon-hover, .icon-star, .icon-star--red, .icon-star--fav, .icon-share, .icon-share--red {
  padding: 4px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon path, .icon-hover path, .icon-star path, .icon-star--red path, .icon-star--fav path, .icon-share path, .icon-share--red path {
  transition: all, 0.3s, cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon-hover:hover path {
  fill: #dd5850;
}

.icon-hover[data-state=active] {
  background: #dd5850;
}

.icon-hover[data-state=active] path {
  fill: #fff;
}

.icon-star path, .icon-star--red path, .icon-star--fav path {
  transition: fill 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon-star--red path {
  fill: #dd5850;
  stroke: #dd5850;
}

.icon-star--fav path {
  stroke-width: 1;
  fill: rgba(75, 75, 75, 0.2);
  stroke: #424242;
  stroke-opacity: 0.2;
}

.icon-share--red path {
  fill: #dd5850;
}

.ico {
  display: inline-block;
  vertical-align: middle;
}

.ico.creditcard {
  width: 82px;
  height: 48px;
  color: #999;
  margin-right: 12px;
  box-sizing: border-box;
}

.ico.creditcard .sp-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.ico.creditcard .bank-name {
  position: relative;
  z-index: 10;
  display: inline-block;
  margin-top: 11px;
  margin-left: 21px;
}

.ico.creditcard.add-card-btn {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
}

.ico.creditcard.add-card-btn i {
  color: #dd5850;
  line-height: 46px;
}

@media (max-width: 719px) {
  .ico.creditcard {
    display: inline-block;
    height: auto;
    width: auto;
    background: none !important;
  }
  .ico.creditcard .bank-name {
    margin: 0;
  }
  .ico.creditcard .icon-creditcard {
    display: none;
  }
}

.ico.outline {
  height: 18px;
  border-radius: 9px;
  margin-left: 8px;
  line-height: 1.9;
  font-size: 9px;
  padding: 0 10px;
  background: #fff;
}

.ico.outline:first-child {
  margin-left: 0;
}

.ico.outline.negative {
  border: 1px solid #dd5850;
  color: #dd5850;
}

.ico.outline.positive {
  border: 1px solid #22a7af;
  color: #22a7af;
}

.ico.outline.purple {
  border: 1px solid #7005e9;
  color: #7005e9;
}

.ico.outline.blue {
  border: 1px solid #579de0;
  color: #579de0;
}

.ico.outline.yellow {
  border: 1px solid #f49b1d;
  color: #f49b1d;
}

.arrow-style {
  display: inline-block;
  background: #dd5850;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 6px 12px 5px;
  position: relative;
}

.arrow-style:after {
  content: '';
  position: absolute;
  border: 16px solid #dd5850;
  top: 0;
}

.arrow-style.right:after {
  left: 100%;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.arrow-style.left {
  margin-left: 16px;
}

.arrow-style.left:after {
  left: -32px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

/* icons end */
/*
* new btn style
*/
.nbtn, .nbtn-white, .nbtn-white--mini, .nbtn-white--small, .nbtn-white--large, .nbtn-red, .nbtn-red--mini, .nbtn-red--small, .nbtn-red--large, .nbtn-redline, .nbtn-redline--mini, .nbtn-redline--small, .nbtn-redline--large {
  font-weight: normal;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid transparent;
  vertical-align: middle;
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: border-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}

.nbtn > *, .nbtn-white > *, .nbtn-white--mini > *, .nbtn-white--small > *, .nbtn-white--large > *, .nbtn-red > *, .nbtn-red--mini > *, .nbtn-red--small > *, .nbtn-red--large > *, .nbtn-redline > *, .nbtn-redline--mini > *, .nbtn-redline--small > *, .nbtn-redline--large > * {
  display: inline-block;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
}

.nbtn:focus, .nbtn-white:focus, .nbtn-white--mini:focus, .nbtn-white--small:focus, .nbtn-white--large:focus, .nbtn-red:focus, .nbtn-red--mini:focus, .nbtn-red--small:focus, .nbtn-red--large:focus, .nbtn-redline:focus, .nbtn-redline--mini:focus, .nbtn-redline--small:focus, .nbtn-redline--large:focus {
  outline: none;
}

.nbtn[data-state=active], .nbtn-white[data-state=active], .nbtn-white--mini[data-state=active], .nbtn-white--small[data-state=active], .nbtn-white--large[data-state=active], .nbtn-red[data-state=active], .nbtn-red--mini[data-state=active], .nbtn-red--small[data-state=active], .nbtn-red--large[data-state=active], .nbtn-redline[data-state=active], .nbtn-redline--mini[data-state=active], .nbtn-redline--small[data-state=active], .nbtn-redline--large[data-state=active] {
  transition: fill 0.4s ease, stroke .4s ease;
}

.nbtn[data-state=active] path, .nbtn-white[data-state=active] path, .nbtn-white--mini[data-state=active] path, .nbtn-white--small[data-state=active] path, .nbtn-white--large[data-state=active] path, .nbtn-red[data-state=active] path, .nbtn-red--mini[data-state=active] path, .nbtn-red--small[data-state=active] path, .nbtn-red--large[data-state=active] path, .nbtn-redline[data-state=active] path, .nbtn-redline--mini[data-state=active] path, .nbtn-redline--small[data-state=active] path, .nbtn-redline--large[data-state=active] path {
  fill: #dd5850;
  stroke: #d9443b;
  stroke-opacity: 1;
}

.nbtn-white {
  font-size: 12px;
  padding: 0 16px;
  line-height: 30px;
  border-color: #d9d9d9;
  background: #fff;
  color: #333;
}

@media (min-width: 720px) {
  .nbtn-white:hover {
    outline: none;
    background: #f5f5f5;
    border-color: #d9d9d9;
  }
  .nbtn-white:focus {
    border-color: #999;
  }
}

.nbtn-white--mini {
  font-size: 10px;
  padding: 0 8px;
  line-height: 20px;
  border-color: #d9d9d9;
  background: #fff;
  color: #333;
}

@media (min-width: 720px) {
  .nbtn-white--mini:hover {
    outline: none;
    background: #f5f5f5;
    border-color: #d9d9d9;
  }
  .nbtn-white--mini:focus {
    border-color: #999;
  }
}

.nbtn-white--small {
  font-size: 10px;
  padding: 0 12px;
  line-height: 22px;
  border-color: #d9d9d9;
  background: #fff;
  color: #333;
}

@media (min-width: 720px) {
  .nbtn-white--small:hover {
    outline: none;
    background: #f5f5f5;
    border-color: #d9d9d9;
  }
  .nbtn-white--small:focus {
    border-color: #999;
  }
}

.nbtn-white--large {
  font-size: 16px;
  padding: 0 24px;
  line-height: 46px;
  border-color: #d9d9d9;
  background: #fff;
  color: #333;
}

@media (min-width: 720px) {
  .nbtn-white--large:hover {
    outline: none;
    background: #f5f5f5;
    border-color: #d9d9d9;
  }
  .nbtn-white--large:focus {
    border-color: #999;
  }
}

.nbtn-red {
  font-size: 12px;
  padding: 0 16px;
  line-height: 30px;
  border-color: transparent;
  background: #dd5850;
  color: #fff;
}

@media (min-width: 720px) {
  .nbtn-red:hover {
    background: #c74f48;
  }
  .nbtn-red:focus {
    border-color: #c4251c;
  }
}

.nbtn-red--mini {
  font-size: 10px;
  padding: 0 8px;
  line-height: 20px;
  border-color: transparent;
  background: #dd5850;
  color: #fff;
}

@media (min-width: 720px) {
  .nbtn-red--mini:hover {
    background: #c74f48;
  }
  .nbtn-red--mini:focus {
    border-color: #c4251c;
  }
}

.nbtn-red--small {
  font-size: 10px;
  padding: 0 12px;
  line-height: 22px;
  border-color: transparent;
  background: #dd5850;
  color: #fff;
}

@media (min-width: 720px) {
  .nbtn-red--small:hover {
    background: #c74f48;
  }
  .nbtn-red--small:focus {
    border-color: #c4251c;
  }
}

.nbtn-red--large {
  font-size: 16px;
  padding: 0 24px;
  line-height: 46px;
  border-color: transparent;
  background: #dd5850;
  color: #fff;
}

@media (min-width: 720px) {
  .nbtn-red--large:hover {
    background: #c74f48;
  }
  .nbtn-red--large:focus {
    border-color: #c4251c;
  }
}

.nbtn-redline {
  font-size: 12px;
  padding: 0 16px;
  line-height: 30px;
  border-color: #dd5850;
  background: #fff;
  color: #dd5850;
}

@media (min-width: 720px) {
  .nbtn-redline:hover {
    outline: none;
    background: #fcefee;
  }
  .nbtn-redline:focus {
    border-color: #c4251c;
  }
}

.nbtn-redline--mini {
  font-size: 10px;
  padding: 0 8px;
  line-height: 20px;
  border-color: #dd5850;
  background: #fff;
  color: #dd5850;
}

@media (min-width: 720px) {
  .nbtn-redline--mini:hover {
    outline: none;
    background: #fcefee;
  }
  .nbtn-redline--mini:focus {
    border-color: #c4251c;
  }
}

.nbtn-redline--small {
  font-size: 10px;
  padding: 0 12px;
  line-height: 22px;
  border-color: #dd5850;
  background: #fff;
  color: #dd5850;
}

@media (min-width: 720px) {
  .nbtn-redline--small:hover {
    outline: none;
    background: #fcefee;
  }
  .nbtn-redline--small:focus {
    border-color: #c4251c;
  }
}

.nbtn-redline--large {
  font-size: 16px;
  padding: 0 24px;
  line-height: 46px;
  border-color: #dd5850;
  background: #fff;
  color: #dd5850;
}

@media (min-width: 720px) {
  .nbtn-redline--large:hover {
    outline: none;
    background: #fcefee;
  }
  .nbtn-redline--large:focus {
    border-color: #c4251c;
  }
}

/**
 * 버튼 css
 *
 * .btn(기본) .btn-color(색상, 종류) .btn-size(크기)
 * .btn .btn-point .btn-m
 * .btn .btn-sub .btn-w
 * .btn .btn-sub .btn-w .is-disabled
 */
.btn {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  line-height: 1.4;
}

.btn:focus {
  outline: none;
}

.btn-xs {
  padding: 4px 8px 3px;
  font-size: 11px;
}

.btn-s {
  padding: 6px 12px;
  font-size: 12px;
}

.btn-m {
  height: 32px;
  padding: 15px 0;
  padding: 8px 15px;
  font-size: 12px;
  line-height: 14px;
}

.btn-l {
  height: 48px;
  line-height: 45px;
  padding: 0 24px;
  font-size: 16px;
}

.btn-w {
  width: 100%;
}

.btn.center {
  display: block;
  margin: 0 auto;
}

.btn.w246 {
  margin-top: 64px;
  width: 246px;
}

.btn-reset {
  border: 0 !important;
  background: transparent !important;
}

input[type=submit]:disabled,
input[type=button]:disabled,
button:disabled,
.btn-disabled {
  background: #eee !important;
  color: #aaa !important;
  border: 1px solid #ddd !important;
  cursor: default !important;
}

input[type=submit]:disabled:hover, input[type=submit]:disabled:focus,
input[type=button]:disabled:hover,
input[type=button]:disabled:focus,
button:disabled:hover,
button:disabled:focus,
.btn-disabled:hover,
.btn-disabled:focus {
  background: #eee !important;
  color: #aaa !important;
  border: 1px solid #ddd !important;
  outline: 0 !important;
}

.btn-white {
  color: #333;
  border: 1px solid #ccc;
  background: #fff;
}

.btn-white.point-txt {
  color: #dd5850;
}

.btn-point,
.btn.active {
  color: #fff;
  background: #E95753;
  border: 1px solid #e95753;
}

.btn-point:hover,
.btn.active:hover {
  background: #c8352e;
}

@media (max-width: 719px) {
  .btn-point:hover,
  .btn.active:hover {
    background: #E95753;
  }
}

.btn-point:focus,
.btn.active:focus {
  background: #dd5850;
  border: 1px solid #993936;
  outline: 0;
}

@media (max-width: 719px) {
  .btn-point:focus,
  .btn.active:focus {
    background: #E95753;
    border: 1px solid #e95753;
  }
}

.btn.active {
  border: 1px solid #e95753 !important;
  color: #fff !important;
}

.btn-sub {
  background: #5abe54;
  border: 1px solid #5abe54;
}

.btn-sub:hover, .btn-sub:focus {
  background: #71d46b;
  border: 1px solid #71d46b !important;
}

.btn-point-outline {
  background: #fff;
  border: 1px solid #dd5850;
  color: #dd5850;
}

.btn-point-outline2 {
  background: #fff;
  border: 1px solid #dd5850;
  color: #dd5850;
}

.btn-outline {
  color: #fff;
  border-radius: 2px;
  border: 2px solid #fff;
}

.tab-style-btn {
  overflow: hidden;
}

.tab-style-btn .tab-style-btn-item button {
  width: 90px;
  height: 32px;
  line-height: 32px;
  border-radius: 0;
  color: #acacac;
  border: 1px solid #d9d9d9;
  border-left: 0 none;
  display: block;
  float: left;
  font-size: 12px;
}

.tab-style-btn .tab-style-btn-item:first-child button {
  border-left: 1px solid #d9d9d9;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.tab-style-btn .tab-style-btn-item:last-child button {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.btn-with-input {
  display: inline-block;
  vertical-align: middle;
}

.btn-with-input input {
  padding: 0;
  margin: 0;
  border: 0 none;
  display: inline-block;
  width: 40px;
  border: 1px solid #ccc;
  border-right: 0 none;
  margin-right: -4px;
  height: 21px;
  text-align: center;
  vertical-align: middle;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: #333;
  font-size: 10px;
  font-weight: bold;
}

.btn-with-input button {
  display: inline-block;
  vertical-align: middle;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: opacity 0.3s ease;
}

.btn-with-input button:disabled {
  opacity: 0.5;
}

.userinput__input[type=checkbox], .userinput__input--checkbox[type=checkbox], .userinput__input--checkbox[type=radio], .userinput__input[type=radio] {
  position: relative;
  padding: 0;
  margin: 0 3px;
  display: inline-block;
  width: 18px;
  font-family: Arial, Helvetica, sans-serif;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  -webkit-appearance: none;
}

.userinput__input[type=checkbox]:before, .userinput__input--checkbox[type=checkbox]:before, .userinput__input--checkbox[type=radio]:before, .userinput__input[type=radio]:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  box-sizing: border-box;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #888;
  background: #fff;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 18px;
  text-align: center;
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  border-radius: 2px;
}

.userinput__input[type=checkbox]:before, .userinput__input--checkbox[type=checkbox]:before, .userinput__input--checkbox[type=radio]:before {
  border-radius: 2px;
}

.userinput__input[type=checkbox]:checked:before, .userinput__input--checkbox[type=checkbox]:checked:before, .userinput__input--checkbox[type=radio]:checked:before {
  cursor: pointer;
  content: '\2713';
  background: #dd5850;
  border-color: #dd5850;
}

.userinput__input[type=radio]:before, .userinput__input--checkbox[type=radio]:before {
  border-radius: 50%;
}

.userinput__input[type=radio]:checked:after, .userinput__input--checkbox[type=radio]:checked:after {
  cursor: pointer;
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 2px;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #dd5850;
}

.userinput, .userinput--boxed {
  display: inline-block;
  font-size: 14px;
  position: relative;
}

.userinput > *, .userinput--boxed > * {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.userinput__input, .userinput__input--checkbox {
  color: #333;
  transition: border-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  min-height: 32px;
  border-radius: 2px;
}

.userinput__input[type=text], .userinput__input--checkbox[type=text], .userinput__input[type=password], .userinput__input--checkbox[type=password], .userinput__input[type=phone], .userinput__input--checkbox[type=phone] {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #b4b4b4;
  text-indent: 12px;
  min-width: 160px;
}

.userinput__input:focus, .userinput__input--checkbox:focus {
  outline: 0 none;
  border-color: #22a7af;
}

.userinput__input:focus:before, .userinput__input--checkbox:focus:before {
  border-color: #22a7af;
}

.userinput__input:focus:checked:before, .userinput__input--checkbox:focus:checked:before {
  border-color: #91231c;
}

.userinput__input--checkbox[type=radio]:before {
  border-radius: 2px;
}

.userinput__input--checkbox[type=radio]:after {
  display: none !important;
}

.userinput__label, .userinput__label--block {
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.userinput__label--block {
  display: block;
}

.userinput--boxed {
  padding: 0 18px;
  border: 1px solid #d9d9d9;
  background: #fff;
  text-align: left;
}

.userinput--boxed input {
  margin-right: 8px;
}

/* titlebar start */
.titlebar, .titlebar--sizedown, .titlebar--block {
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-top: 40px;
  margin-bottom: 24px;
  padding-bottom: 4px;
  border-bottom: 2px solid #555;
}

.titlebar a, .titlebar--sizedown a, .titlebar--block a {
  text-decoration: none;
  color: inherit;
}

.titlebar__txtmain {
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75%;
}

@media (max-width: 719px) {
  .titlebar__txtmain {
    font-size: 16px;
  }
}

.titlebar__txtmain > * {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titlebar__txtright, .titlebar__txtright--blue {
  text-align: right;
  font-size: 16px;
  color: #333;
}

@media (max-width: 719px) {
  .titlebar__txtright, .titlebar__txtright--blue {
    font-size: 14px;
  }
}

.titlebar__txtright--blue {
  color: #22a7af;
}

.titlebar > *, .titlebar--sizedown > *, .titlebar--block > * {
  display: table-cell;
  vertical-align: middle;
}

.titlebar--sizedown .titlebar__txtmain {
  font-size: 16px;
}

.titlebar--sizedown .titlebar__txtright, .titlebar--sizedown .titlebar__txtright--blue {
  font-size: 12px;
}

.titlebar--block {
  padding: 15px 16px 14px;
  margin-top: 40px;
  background: #f2f2f2;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.titlebar--block .titlebar__txtmain {
  font-size: 16px;
}

@media (max-width: 719px) {
  .titlebar--block .titlebar__txtmain {
    font-size: 14px;
  }
}

.titlebar--block .titlebar__txtright, .titlebar--block .titlebar__txtright--blue {
  font-size: 16px;
}

/* titlebar end */
.title-style, .title-style.bar {
  vertical-align: bottom;
  border-bottom: 2px solid #555;
  padding-bottom: 4px;
  margin-bottom: 24px;
  position: relative;
  padding-top: 40px;
  vertical-align: middle;
}

@media (max-width: 719px) {
  .title-style[data-ui-hide="0"] {
    display: none;
  }
  .title-style[data-ui-hide="1"] {
    display: block;
    border-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
  }
  .title-style[data-ui-hide="1"] .txt {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 12px 0;
    text-align: center;
    width: 100%;
    background: #fff;
  }
}

.title-style:after, .title-style.bar:after {
  content: '';
  display: block;
  clear: both;
}

.title-style span.sp-icon {
  vertical-align: middle;
}

@media (max-width: 719px) {
  .title-style span.sp-icon {
    transform: scale(0.67);
  }
}

.title-style.no-mt {
  margin-top: 0;
}

.title-style > *, .title-style.bar > * {
  display: inline-block;
}

.title-style i, .title-style.bar i {
  font-size: 25px;
  margin-left: 8px;
}

.title-style .txt {
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  color: #333;
}

.title-style .txt:focus {
  outline: none;
  text-decoration: underline;
  text-decoration-color: #333;
}

@media (max-width: 719px) {
  .title-style .txt {
    font-size: 16px;
    line-height: 36px;
  }
}

.title-style .txt-sub {
  margin-left: 12px;
  color: #666;
  font-size: 16px;
  font-weight: normal;
}

.title-style .txt-style {
  font-size: 16px;
  margin-top: 5px;
}

.title-style .txt-style em {
  font-size: inherit;
  color: #dd5850;
}

.title-style .see-more {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #22a7af;
}

.title-style .see-more i {
  display: inline-block;
  vertical-align: bottom;
}

.title-style .see-more:focus {
  outline: none;
  text-decoration: underline;
  text-decoration-color: #22a7af;
}

@media (max-width: 719px) {
  .title-style .see-more {
    font-size: 14px;
    bottom: 9px;
  }
  .title-style .see-more i {
    font-size: 24px;
  }
}

.bar.title-style {
  border: 0 none;
  color: #333;
  margin-bottom: 16px;
  margin-top: 40px;
  padding: 15px 16px 14px;
  background: #f2f2f2;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.bar.title-style .txt {
  font-size: 16px;
}

.bar.title-style .see-more {
  right: 16px;
  bottom: 14px;
  font-size: 16px;
  color: #666;
}

.bar.title-style .see-more:focus {
  text-decoration: none;
}

@media (max-width: 719px) {
  .bar.title-style .txt {
    font-size: 14px;
    line-height: 1.5;
  }
  .bar.title-style .see-more {
    font-size: 14px;
    bottom: 14px;
  }
  .bar.title-style:first-child {
    margin-top: 12px;
  }
}

.layout-split.subpage .title-style:first-child {
  padding-top: 0;
}

.title-style-center {
  padding: 32px 0 24px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.title-style-border {
  margin-top: 24px;
  border-top: 2px solid #d9d9d9;
  padding: 24px 0 16px;
}

.title-style-border:first-child {
  margin-top: 12px;
  border-top: 0 none;
}

.title-style-bar {
  background: #555555;
  color: #fff;
  padding: 22px 24px;
  vertical-align: middle;
}

.title-style-bar > * {
  display: inline-block;
  font-size: 16px;
  font-weight: lighter;
}

.title-style-bar .txt {
  font-weight: normal;
  font-size: 21px;
  margin-right: 30px;
}

.title-style-block {
  border: 1px solid #d9d9d9;
  border-top: 0 none;
  padding: 27px 0 26px 24px;
}

.title-style-block .txt {
  font-size: 24px;
  font-weight: bold;
  color: #666;
}

.title-style-block.center {
  text-align: center;
  padding: 8px 0;
  height: auto;
  border: 0 none;
  background: #f5f5f5;
}

.title-style-block.center .txt {
  padding: 12px 0;
  background: #fff;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

@media (max-width: 719px) {
  .title-style-block {
    background: #fff;
    padding: 0 24px;
    height: 54px;
    border-left: 0 none;
    border-right: 0 none;
  }
  .title-style-block .txt {
    padding-top: 15px;
    font-size: 16px;
  }
}

.subtitle-block {
  border-bottom: 1px solid #d9d9d9;
  background: #f5f5f5;
}

.subtitle-block .txt {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  padding: 9px 0 9px 24px;
}

.title-style-sub {
  padding-top: 40px;
  border-bottom: 1px solid #555;
  overflow: hidden;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.title-style-sub:first-child {
  margin-top: 0;
}

.title-style-sub .txt {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.title-style-sub .to-right {
  display: block;
  margin-top: 2px;
  float: right;
}

.title-style-sub .to-right input {
  margin-right: 5px;
}

.title-style-sub .to-right label {
  font-size: 12px;
  color: #333;
}

.title-style-sub .to-right.link {
  color: #22a7af;
  font-size: 14px;
}

.title-style-sub .to-right.link i {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 8px;
}

.title-style-sub.no-border {
  border-bottom: 0 none;
}

.title-style-sub.red {
  border-color: #dd5850;
}

.title-style-sub.red .txt {
  color: #dd5850;
}

.title-style-sub.yellow {
  border-color: #f49b1d;
}

.title-style-sub.yellow .txt {
  color: #f49b1d;
}

.title-style-sub.lime {
  border-color: #12d232;
}

.title-style-sub.lime .txt {
  color: #12d232;
}

.title-style-sub.teal {
  border-color: #22a7af;
}

.title-style-sub.teal .txt {
  color: #22a7af;
}

.title-style-sub.blue {
  border-color: #579de0;
}

.title-style-sub.blue .txt {
  color: #579de0;
}

@media (max-width: 719px) {
  .title-style-sub.m-margin {
    padding-top: 20px;
  }
}

.banner-title {
  overflow: hidden;
  height: 210px;
  background: #efefef;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: #fff;
}

.banner-title > p, .banner-title h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.banner-title > h1 {
  font-size: 36px;
  top: 43px;
}

.banner-title > h1:after {
  content: '';
  position: absolute;
  width: 44px;
  height: 2px;
  top: 75px;
  left: 50%;
  margin-left: -22px;
  background: #fff;
}

.banner-title > p {
  top: 145px;
  font-size: 14px;
}

.banner-title[data-image=type1] {
  background-image: url(/resources/dist/images/banner/img-fullbanner01.jpg);
}

.banner-title[data-image=type2] {
  background-image: url(/resources/dist/images/banner/img-fullbanner02.jpg);
}

.banner-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.banner-title[data-theme=orange]:before {
  background: linear-gradient(97deg, #d20b35, #fda51b);
}

.banner-title[data-theme=blue]:before {
  background: linear-gradient(97deg, #303395, #28c6ef);
}

.banner-title[data-theme=purple]:before {
  background: linear-gradient(83deg, #62258a, #fc0f77);
}

.banner-title[data-theme=black]:before {
  background: linear-gradient(277deg, #313131, #534d4d);
}

@media (max-width: 719px) {
  .banner-title {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    display: none;
  }
  .banner-title:after {
    content: '';
    display: block;
    padding-bottom: 33.33333%;
  }
  .banner-title > * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .banner-title > h1 {
    top: 28%;
    font-size: 18px;
    height: auto;
    font-size: 5vw;
  }
  .banner-title > h1:after {
    display: none;
  }
  .banner-title > p {
    top: 60%;
    font-size: 12px;
    padding: 0 20px;
    height: auto;
    font-size: 3vw;
  }
}

.showroom {
  position: relative;
  overflow: hidden;
  height: 540px;
  margin: 0 auto;
  width: 100%;
}

.showroom img {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -980px;
}

@media (max-width: 719px) {
  .showroom {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    overflow: visible;
  }
  .showroom:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  .showroom > * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .showroom:after {
    padding-bottom: 0;
  }
  .showroom img {
    display: none;
  }
  .showroom img.hidden.mobile {
    display: block !important;
    position: initial;
    left: initial;
    margin-left: 0;
    width: 100%;
  }
}

.showroom-grid {
  overflow: visible !important;
}

.showroom .col {
  display: table;
  width: 1056px;
  height: 100%;
  margin: 0 auto;
}

.showroom .col:after {
  content: '';
  display: table-cell;
  width: 52%;
}

@media (max-width: 719px) {
  .showroom .col {
    width: 100%;
    position: initial;
    margin-top: -25%;
  }
  .showroom .col:after {
    display: none;
  }
}

.showroom-article {
  position: relative;
  z-index: 10;
  width: 528px;
  left: 0;
  display: table-cell;
  vertical-align: middle;
  height: auto;
}

.showroom-article .title {
  text-align: left;
  position: relative;
  white-space: pre-line;
  padding: 24px 40px;
  margin: 0;
  font-size: 24px;
  color: #333;
  background: rgba(255, 255, 255, 0.85);
}

.showroom-article .title:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 48px;
  left: 40px;
  bottom: 0;
  background: #333;
}

.showroom-article .desc {
  color: #333;
  padding: 24px 40px;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-line;
  background: rgba(255, 255, 255, 0.85);
}

@media (max-width: 719px) {
  .showroom-article .title {
    padding: 16px;
    background: #fff;
    font-size: 20px;
  }
  .showroom-article .title:after {
    display: none;
  }
  .showroom-article .desc {
    padding: 16px;
    background: #fff;
    font-size: 14px;
  }
}

.grid {
  position: relative;
  overflow: hidden;
}

.grid .grid-row {
  height: 100%;
  overflow: hidden;
}

.grid .grid-item {
  position: relative;
  float: left;
  width: 100%;
}

.grid .grid-item a.grid-inner {
  display: block;
}

.grid .grid-row {
  margin-left: -16px;
  margin-top: -16px;
}

.grid .grid-inner {
  margin-left: 16px;
  margin-top: 16px;
}

.grid.col2 .grid-item {
  width: 50%;
}

.grid.col3 .grid-item {
  width: 33.33333%;
}

.grid.col3 .col2 .grid-item {
  width: 50%;
}

.grid.col4 .grid-item {
  width: 25%;
}

.grid.col5 .grid-item {
  width: 20%;
}

.grid.col6 .grid-item {
  width: 16.66667%;
}

.grid.no-spacing .grid-row {
  margin-left: 0px;
  margin-top: 0px;
}

.grid.no-spacing .grid-inner {
  margin-left: 0px;
  margin-top: 0px;
}

@media (max-width: 719px) {
  .grid-item {
    width: 50% !important;
  }
  .m-col1 .grid-item {
    width: 100% !important;
  }
  .m-col3 .grid-item {
    width: 33.33333% !important;
  }
}

.selectbox__trigger__text, .selectbox__dropdown__option {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.selectbox {
  min-width: 160px;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
  display: inline-block;
  transition: opacity 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.selectbox > * {
  font-size: inherit;
  color: inherit;
}

.selectbox ul {
  padding: 0;
  margin: 0;
}

.selectbox ul li {
  list-style: none;
}

.selectbox__trigger {
  box-sizing: border-box;
  padding: 0px 12px;
  line-height: 30px;
  margin: 0;
  display: block;
  position: relative;
  width: 100%;
  border: 1px solid #b4b4b4;
  border-radius: 2px;
  transition: border 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: left;
  cursor: pointer;
}

.selectbox__trigger:focus {
  outline: none;
}

.selectbox__trigger__text {
  font-size: inherit;
  display: inline-block;
  vertical-align: top;
  width: 90%;
  padding-right: 12px;
}

.selectbox__trigger__text[disabled] {
  color: #cecece;
}

.selectbox__trigger__icon {
  position: absolute;
  overflow: hidden;
  right: 13px;
  top: 0px;
  font-style: normal;
}

.selectbox__trigger__icon:before {
  content: '';
  box-sizing: border-box;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 3px solid #666;
  transform: rotate(45deg) translate(-1px, -1px);
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 2px;
}

.selectbox__dropdown {
  box-sizing: border-box;
  z-index: 101;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 0;
  max-height: 400px;
  overflow-y: auto;
  background: #fff;
  padding: 0;
  margin: 0;
  border: 1px solid #dd5850;
  border-top: 0 none;
  border-bottom: 0 none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}

.selectbox__dropdown__option {
  padding: 8px 12px;
  border-bottom: 1px solid #d9d9d9;
  transition: background-color 0.3s ease;
  font-size: inherit;
}

.selectbox__dropdown__option:last-child {
  border-top: 0 none;
}

.selectbox__dropdown__option[value=placeholder] {
  display: none;
}

.selectbox[data-state=active] .selectbox__dropdown {
  height: auto;
  border-bottom: 1px solid #dd5850;
}

.selectbox[data-state=active] .selectbox__text {
  transition: color 0.2s ease;
}

.selectbox[data-state=active] .selectbox__trigger {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: #dd5850;
  border-top-color: #dd5850;
  border-right-color: #dd5850;
}

.selectbox[data-state=active] .selectbox__trigger__icon {
  transform: rotate(180deg) translate(-1px, -1px);
}

.selectbox[data-state=disabled] {
  opacity: 0.6;
  background: #f5f5f5;
  color: #acacac;
}

.selectbox[data-state=disabled] .selectbox__trigger {
  border-color: #b4b4b4;
}

/*# sourceMappingURL=uipack-idus.css.map */
