// colors
$test-color: #eee;

$c-point: #dd5850;
$c-point-active: #c74f48;
$c-point-focus: #dd5850;
$c-point-hover: #c8352e;
$c-sub: #22a7af;

$c-uiblue: #579de0;
$c-font3: #333;
$c-font6: #666;
$c-font9: #999;

$c-error: #d8524a;

$gray-l: #d9d9d9;
$gray-m: #acacac;

// dimensions
$wrap-width: 1056px;
$content-spacing: 48px;

// mobile view contents spacing
$m-spacing: 12px;

// z-index
$z-footer: 100;
$z-modal: 110;
$z-modal-overlay: 120;
$z-modal-wrap: 130;
$z-bottom-ribbon: 190;
$z-downloadmask: 200;

// input state
$c-input-focus: $c-sub;

// global line-height;
$lh: 1.5;
$browser-context: 16;

// common animation options
$animation-easing: cubic-bezier(0.075, 0.82, 0.165, 1);
$animation-duration: 0.3s;

// animations
@mixin motionHeight($name, $from, $to) {
    @keyframes #{$name} {
        from {
            height: $from;
        }
        to {
            height: $to;
        }
    }

    animation-name: $name;
    animation-duration: $animation-duration;
    animation-timing-function: $animation-easing;
    @content;
}

@mixin motionWidth($name, $from, $to) {
    @keyframes #{$name} {
        from {
            width: $from;
        }
        to {
            width: $to;
        }
    }

    animation-name: $name;
    animation-duration: $animation-duration;
    animation-timing-function: $animation-easing;
    @content;
}

// px to em;
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

@mixin ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin multiline($fz, $lh, $num) {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $fz*$lh*$num; /* Fallback for non-webkit */
    font-size: $fz;
    line-height: $lh;
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

// coupon modifier
@mixin modifyCoupon ($width, $height, $bg) {
    $decoWidth: $width * 0.04; // 4%
    $decoHeight: $decoWidth / 2;

    margin: 0;
    width: $width;
    height: $height;

    &:before,
    &:after {
        background: $bg;
        width: $decoWidth;
        height: $decoHeight;
        left: 18%;
    }

    @content;
}

// grid spacing
@mixin grid-spacing($mt, $ml) {
    .grid-row {
        margin-left: - $ml;
        margin-top: - $mt;
    }

    .grid-inner {
        margin-left: $ml;
        margin-top: $mt;
    }
}

// box-ratio ratio
@mixin box-ratio($x, $y) {
    $height: (100% / $x) * $y;

    position: relative;
    display: block;
    width: 100%;
    height: auto;

    &:after {
        content: '';
        display: block;
        padding-bottom: $height;
    }

    > * {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

/*
* default browser scrollbar override
* @include scrollbars(.5em, slategray);
*/
@mixin css-scrollbar {
    &::-webkit-scrollbar {
        width:  4px;
        height: 2em;
    }

    &::-webkit-scrollbar-thumb {
        background: #efefef;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    // For Internet Explorer
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-face-color: #444444;
    scrollbar-shadow-color:#444444;
    scrollbar-highlight-color:#444444;
    scrollbar-3dlight-color: #444444;
    scrollbar-darkshadow-Color:#444444;
}

/**
.selector {
  @include tablet {
    background: $prmCol;
  };
  @include mobile {
    background: url("./assets/images/bg_pattern.png") repeat;
  };
}
*/

$desktop-width: $wrap-width;
$desktop-max: $wrap-width;
$tablet-width:720px;
$mobile-width:360px;
$iPhone4: 320px;

@mixin iPhone4 {
    @media (max-width: #{$iPhone4}) {
        @content;
    }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
        @content;
  }
}

@mixin desktop {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin limDesktop {
  @media (min-width: #{$desktop-max}) {
    @content;
  }
}
